body {
	background-color: #f0f0ec;
	padding: 20px 20%;
	margin: 0;
	font-family: sans-serif;
	color: #666666;
}
h1 {
	font-size: 30px;
	padding: 0;
	margin: 0 0 10px;
}
div.option {
	border-top: 1px solid #cccccc;
	padding: 10px;
	font-size: 20px;
	display: flex;
}
div.option:hover {
	background-color: #e8e8e0;
}
div.option label {
	flex-grow: 1;
	cursor: pointer;
}
div.option input {
	min-width: 30px;
}
div.option input.error {
	box-shadow: 0 0 10px red;
}